<!-- Header  -->
<app-header></app-header>

<!-- Logon Form -->
<div class="flex justify-center items-center mt-32 mx-3">
  <div
    class="flex justify-center flex-col py-6 px-4 border w-full md:w-1/2 lg:w-1/3"
  >
    <div class="text-5xl text-center uppercase leading-snug">
      Retrieve Your Booking
    </div>
    <div *ngIf="!hideForm" class="mt-7 text-start">
      You can find your booking by filling out your family name and the booking
      code in your booking confirmation.
    </div>
    <!-- Form  -->
    <app-logon-form
      (hideLogonForm)="receiveHandleLogonFormData($event)"
    ></app-logon-form>
  </div>
</div>
